PORT=5000
MONGO_URL="mongodb://localhost:27017/LeoClinic"
JWT_EXPIRES_IN="7d"
JWT_SECRET="somesecretkey"
NODE_ENV=development

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FRONTEND_URL=http://localhost:5173